/* From smallest screen width to Medium mobile screen width */

@media only screen and (min-width: 320px) and ( max-width: 480px ) {
    /* styles for devices with a minimum screen width of 480px */
    body {
        background-color: #ff0000;
    }
}


@media only screen and (min-width: 480px) and ( max-width: 768px ) {
    /* styles for devices with a minimum screen width of 480px */
    body {
        background-color: #50ff40;
    }
}



/* For Mobile in landscape mode and tablets in portrait mode */
@media only screen and (min-width: 768px) and ( max-width: 1024px ) {
    /* styles for devices with a minimum screen width of 480px */
    body {
        background-color: #0aa1ff;
    }
}